<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace(命名空间)：映射文件的唯一标识 -->
<mapper namespace="com.enablue.mapper.AppDetailMapper">

    <!-- 查询的statement，id：在同一个命名空间下的唯一标识，resultType：sql语句的结果集封装类型 -->
    <select id="queryAppDetailList" resultType="AppDetail" parameterType="map">
        select * from application_detail
        <where>
            <if test="applicationTypeId != null and applicationTypeId != ''">
                and application_type_id = #{applicationTypeId}
            </if>
            <if test="applicationId != null and applicationId != ''">
                and application_id = #{applicationId}
            </if>

        </where>
        limit #{pageIndex},#{pageSize}
    </select>

    <insert id="insertAppDetail">
        INSERT  INTO application_detail
        SET (application_id,appid,application_type_id,serviceTotal,serviceUnit,startDate,expireDate,config1,config2,config3,config4,config5,config6,config7,config8,config9,config10
        )
        value (#{application_id},#{appid},#{application_type_id},#{serviceTotal},#{serviceUnit},#{startDate},#{expireDate},#{config1},#{config2},#{config3},#{config4},#{config5},#{config6},#{config7},#{config8},#{config9},#{config10})
    </insert>

    <update id="updateAppDetail">
        UPDATE application_detail
        SET (application_id,appid,application_type_id,serviceTotal,serviceUnit,startDate,expireDate,config1,config2,config3,config4,config5,config6,config7,config8,config9,config10
        )
        value (#{application_id},#{appid},#{application_type_id},#{serviceTotal},#{serviceUnit},#{startDate},#{expireDate},#{config1},#{config2},#{config3},#{config4},#{config5},#{config6},#{config7},#{config8},#{config9},#{config10})
        where id = #{id})
    </update>

</mapper>