<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace(命名空间)：映射文件的唯一标识 -->
<mapper namespace="com.enablue.mapper.ApplicationTypeMapper">

    <!--查询所有应用类型-->
    <select id="queryAllApplicationType" resultType="ApplicationType">
            SELECT id,name FROM application_type
    </select>
</mapper>