<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace(命名空间)：映射文件的唯一标识 -->
<mapper namespace="com.enablue.mapper.ApplicationDetailOperationMapper">
    <!--添加操作日志-->
    <insert id="addApplicationDetailOperation">
        INSERT INTO sys_applicationDetail_operation(
            application_detail_id,
            appid,
            application_type_id,
            startServiceTotal,
            endServiceTotal,
            account_id
            )
        VALUES
            (
                #{ApplicationDetailOperation.applicationDetailId},
                #{ApplicationDetailOperation.appid},
                #{ApplicationDetailOperation.applicationTypeId},
                #{ApplicationDetailOperation.startServiceTotal},
                #{ApplicationDetailOperation.endServiceTotal},
                #{ApplicationDetailOperation.accountId}
            );
         </insert>
    <!--查询所有操作日志-->
    <select id="queryAllApplicationDetailOperation" resultType="ApplicationDetailOperation">
            SELECT
            id,
            application_detail_id,
            appid,
            application_type_id,
            operationDate,
            startServiceTotal,
            endServiceTotal,
            account_id
            FROM
            sys_applicationDetail_operation
    </select>

    <select id="queryApplicationDetailOperation" parameterType="ApplicationDetailOperation" resultType="ApplicationDetailOperation">
        SELECT
        id,
        application_detail_id,
        appid,
        application_type_id,
        operationDate,
        startServiceTotal,
        endServiceTotal,
        account_id
        FROM
        sys_applicationDetail_operation
        <where>
            <if test="applicationTypeId!=null and applicationTypeId!=&quot;&quot;">
                application_type_id = #{applicationTypeId}
            </if>
        </where>
        order by endServiceTotal desc
    </select>
    <!--分页查询应用详情操作日志-->
    <select id="queryPageApplicationDetailOperation" resultType="ApplicationDetailOperation">
    SELECT
        id,
        application_detail_id,
        appid,
        application_type_id,
        operationDate,
        startServiceTotal,
        endServiceTotal,
        account_id
    FROM
        sys_applicationDetail_operation
    ORDER BY operationDate
    LIMIT #{page},#{limit}
    </select>

</mapper>