<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace(命名空间)：映射文件的唯一标识 -->
<mapper namespace="com.enablue.mapper.AppMapper">

    <!-- 查询的statement，id：在同一个命名空间下的唯一标识，resultType：sql语句的结果集封装类型 -->
    <select id="queryAppList" resultType="App" parameterType="map">
        select * from application
        <where>
            <if test="name != null">
                and name like CONCAT('%',#{name},'%')
            </if>
            <if test="appId!=null">
                and appId =#{appId}
            </if>
            and deleteStatus = 0
            and usableStatus = 0
            order by id DESC
        </where>
    </select>

    <insert id="insertApp" parameterType="App">
        INSERT  INTO application
         (appid,`name`,operator_id)
        value (#{appId},#{name},#{operatorId})
    </insert>

    <update id="updateApp" parameterType="App">
        update application
        <set>
            <if test="appId!=null">
                appId=#{appId},
            </if>
            <if test="name!=null">
                `name`=#{name},
            </if>
            <if test="operatorId!=null">
                operator_id=#{operatorId},
            </if>
            <if test="deleteStatus!=null">
                deleteStatus=#{deleteStatus},
            </if>
            <if test="usableStatus!=null">
                usableStatus=#{usableStatus},
            </if>
        </set>
        where id=#{id}
    </update>

</mapper>