<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace(命名空间)：映射文件的唯一标识 -->
<mapper namespace="com.enablue.mapper.AppMapper">

    <!-- 查询的statement，id：在同一个命名空间下的唯一标识，resultType：sql语句的结果集封装类型 -->
    <select id="queryAppList" resultType="App" parameterType="map">
        select * from application
        <where>
            <if test="name != null and name != ''">
                and name like CONCAT('%',#{name},'%')
            </if>
        </where>
        limit #{pageIndex},#{pageSize}
    </select>

    <insert id="insertApp">
        INSERT  INTO application
        SET (appid,`name`,operator_id)
        value (#{appid},#{name},#{operatorId})
    </insert>

    <update id="updateApp">
        UPDATE application
        SET (appid,`name`,operator_id,deleteStatus,usableStatus)
        value (#{appid},#{name},#{operatorId},#{deleteStatus},#{usableStatus})
        where  id = #(id)
    </update>

</mapper>