<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace(命名空间)：映射文件的唯一标识 -->
<mapper namespace="com.enablue.mapper.OperatorMapper">

    <!-- 查询的statement，id：在同一个命名空间下的唯一标识，resultType：sql语句的结果集封装类型 -->
    <select id="queryOperatorList" resultType="Operator" parameterType="map">
        select * from operator
        <where>
            <if test="tel != null and tel != ''">
                and tel like #{tel}+"%"
            </if>
            and deleteStatus = 0
        </where>
        limit #{pageIndex},#{pageSize}
    </select>
    <select id="querOperatorCount" resultType="java.lang.Integer" parameterType="map">
        select count(id) from operator
        <where>
            <if test="tel != null and tel != ''">
                and tel like #{tel}+"%"
            </if>
            and deleteStatus = 0
        </where>
    </select>

    <insert id="insertOperator" parameterType="Operator">
        INSERT  INTO operator (`type`,email,tel,`password`) value (#{type},#{email},#{tel},#{password})
    </insert>

    <update id="updateOperator" parameterType="Operator">
        UPDATE operator
        <set>
            <if test="type!=null and type!=&quot;&quot;">
                `type`=#{type},
            </if>
            <if test="email!=null and email!=&quot;&quot;">
                `email`= #{email},
            </if>
            <if test="password!=null and password!=&quot;&quot;">
                `password`=#{password},
            </if>
            <if test="deleteStatus!=null and deleteStatus!=&quot;&quot;">
                deleteStatus=#{deleteStatus},
            </if>
            <if test="usableStatus!=null and usableStatus!=&quot;&quot;">
                usableStatus=#{usableStatus},
            </if>
        </set>
        where id = #{id}
    </update>

</mapper>