<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace(命名空间)：映射文件的唯一标识 -->
<mapper namespace="com.enablue.mapper.OperatorMapper">

    <!-- 查询的statement，id：在同一个命名空间下的唯一标识，resultType：sql语句的结果集封装类型 -->
    <select id="queryOperatorList" resultType="Operator" parameterType="map">
		select * from operator
		 <where>
             <if test="tel != null and tel != ''">
                 and tel like CONCAT('%',#{tel},'%')
             </if>
         </where>
        limit #{pageIndex},#{pageSize}
	</select>

    <insert id="insertOperator" >
        INSERT  INTO operator  SET (`type`,email,tel,`password`) value (#{type},#{email},#{tel},#{password})
    </insert>

</mapper>