<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace(命名空间)：映射文件的唯一标识 -->
<mapper namespace="com.enablue.mapper.ModelMapper">
    <select id="getModelList" parameterType="Model" resultType="com.enablue.pojo.Model">
        select
        model_id,model_name,model_url,model_fn_name,subject_id,gmt_create,gmt_modified
        from model
        where 1=1
        <if test="subjectId != null">
            and subject_id = #{subjectId}
        </if>
        <if test="modelId != null">
            and model_id = #{modelId}
        </if>
        <if test="page != null and limit!=null">
            and limit #{page},#{limit}
        </if>
    </select>
    <select id="getModelCount" parameterType="Model" resultType="java.lang.Integer">
        select
        model_id
        from model
        where 1=1
        <if test="subjectId != null">
            and subject_id = #{subjectId}
        </if>
    </select>
</mapper>
