<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace(命名空间)：映射文件的唯一标识 -->
<mapper namespace="com.enablue.mapper.TemplatePoolMapper">
    <!--添加-->
    <insert id="addTemplatePool"  useGeneratedKeys="true" keyColumn="template_id" keyProperty="templateId" parameterType="TemplatePool">
        INSERT INTO template_pool  (
        template_content,
        subject_id,
        type_id,
        answer_id,
        difficulty_grade,
        gmt_create,
        gmt_modified
        )
        VALUES
            (
                #{templatePool.templateContent},
                #{templatePool.subjectId},
                #{templatePool.typeId},
                #{templatePool.answerId},
                #{templatePool.difficultyGrade},
                #{templatePool.gmtCreate},
                #{templatePool.getModified}
            )
    </insert>
    <!--删除模板-->
    <delete id="deleteTemplatePool">
        DELETE FROM template_pool WHERE template_id=#{id}
    </delete>
    <resultMap id="templatePoolMap" type="com.enablue.pojo.TemplatePool">
        <id column="template_id" property="templateId"></id>
        <result column="template_content" property="templateContent"/>
        <result column="subject_id" property="subjectId"/>
        <result column="type_id" property="typeId"/>
        <result column="answer_id" property="answerId"/>
        <result column="difficulty_grade" property="difficultyGrade"/>
        <result column="gmt_create" property="gmtCreate"/>
        <result column="gmt_modified" property="gmtModified"/>

    </resultMap>

    <select id="getTemplatePooList" parameterType="TemplatePool" resultMap="templatePoolMap">
        select template_id,template_content,subject_id,type_id,answer_id,difficulty_grade,gmt_create,gmt_modified
        from template_pool
        where 1=1
            <if test="templateId != null">
                and template_id = #{templateId}
            </if>
            <if test="subjectId != null">
                and subject_id = #{subjectId}
            </if>
            <if test="typeId != null">
                and type_id = #{typeId}
            </if>
            <if test="difficultyGrade != null">
                and difficulty_grade = #{difficultyGrade}
            </if>
            <if test="templateNum != null">
                order by rand() limit #{templateNum}
            </if>
    </select>
    <!--根据科目和题型查询模板 王成-->
    <select id="queryTemplateBySubjectAndType" resultType="TemplatePool">
        SELECT
           template_id,template_content,subject_id,type_id,answer_id,difficulty_grade,gmt_create,gmt_modified
        FROM
            template_pool
        WHERE
                subject_id = #{subjectId}
        AND     type_id = #{typeId}
    </select>
    <!--查询所有模板 王成-->
    <select id="queryAllTemplate" resultType="TemplatePool">
        SELECT
           template_id,template_content,subject_id,type_id,answer_id,difficulty_grade,gmt_create,gmt_modified
        FROM
            template_pool
    </select>
    <!--分页查询模板 王成-->
    <select id="queryPageTemplatePool" resultType="TemplatePool">
        SELECT
            template_id,
            template_content,
            subject_id,
            type_id,
            answer_id,
            difficulty_grade,
            gmt_create,
            gmt_modified
        FROM
            template_pool
        LIMIT #{page},#{limit}
    </select>
    <!--    根据模板id查询模板数据 王成-->
    <select id="queryTemplateById" resultType="TemplatePool">
        SELECT
            template_id,
            template_content,
            subject_id,
            type_id,
            answer_id,
            difficulty_grade
        FROM
            template_pool
        WHERE
            template_id=#{templateId}
    </select>

<!--    根据科目id查询模板-->
    <select id="queryTemplateBySubjectId" resultType="TemplatePool">
        SELECT
        template_id,
        template_content,
        subject_id,
        type_id,
        answer_id,
        difficulty_grade
        FROM
            template_pool
        WHERE
            subject_id=#{id}
    </select>
    <!--    根据类型id查询模板-->
    <select id="queryTemplateByTypeId" resultType="TemplatePool">
        SELECT
        template_id,
        template_content,
        subject_id,
        type_id,
        answer_id,
        difficulty_grade
        FROM
            template_pool
        WHERE
            type_id=#{id}
    </select>

    <!--修改模板 王成-->
    <update id="updataTemplate">
        UPDATE template_pool
        SET 
         template_content = #{templatePool.templateContent},
         subject_id = #{templatePool.subjectId},
         type_id = #{templatePool.typeId},
         difficulty_grade = #{templatePool.difficultyGrade},
         gmt_modified = #{templatePool.getModified}
        WHERE
            (template_id = #{templatePool.templateId});
    </update>
</mapper>