<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace(命名空间)：映射文件的唯一标识 -->
<mapper namespace="com.enablue.mapper.TemplatePoolMapper">
    <!--添加-->
    <insert id="addTemplatePool"  useGeneratedKeys="true" keyColumn="template_id" keyProperty="templateId" parameterType="TemplatePool">
        INSERT INTO template_pool  (
        template_content,
        subject_id,
        type_id,
        answer_id,
        difficulty_grade,
        gmt_create,
        gmt_modified
        )
        VALUES
            (
                #{templatePool.templateContent},
                #{templatePool.subjectId},
                #{templatePool.typeId},
                #{templatePool.answerId},
                3,
                #{templatePool.gmtCreate},
                #{templatePool.getModified}
            )
    </insert>
    <select id="getTemplatePooList" parameterType="TemplatePool">
        select template_id,template_content,subject_id,type_id,answer_id,defficulty_grade,gmt_create,gmt_modified
        from template_pool
        <where>
            <if test="subjectId != null">
                subject_id = #{templatePool.subjectId}
            </if>
            <if test="typeId != null">
                type_id = #{templatePool.typeId}
            </if>
            <if test="defficultyGrade != null">
                defficulty_grade = #{templatePool.defficultyGrade}
            </if>
            <if test="templateNum != null">
                order by rand() limit templateNum
            </if>
        </where>
    </select>

</mapper>