<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace(命名空间)：映射文件的唯一标识 -->
<mapper namespace="com.enablue.mapper.TypePoolMapper">

    <insert id="addTypePool">
     INSERT INTO type_pool (
        subject_id,
        plate_name,
        amount,
        gmt_create,
        gmt_modified
    )
    VALUES
    (
       #{typePool.subjectId},
       #{typePool.plateName},
       #{typePool.amount},
       #{typePool.gmtCreate},
       #{typePool.gmtModified}
    );
    </insert>
    <update id="updataTypePool">
        UPDATE type_pool
        SET
         subject_id = #{typePool.subjectId},
         plate_name = #{typePool.plateName},
         amount = #{typePool.amount},
         gmt_modified = #{typePool.gmtModified}
        WHERE
        plate_id=#{typePool.plateId}
    </update>
    <!--根据id删除类型-->
    <delete id="daleteTypePool">
        DELETE
        FROM
            type_pool
        WHERE
            plate_id = #{id}
    </delete>
    <!--根据科目删除类型-->
    <delete id="daleteTypePoolBySubjectId">
           DELETE
        FROM
            type_pool
        WHERE
            subject_id = #{id}
    </delete>
    <!--查询所有类型-->
    <select id="queryAllTypet" resultType="TypePool">
        SELECT
            plate_id,
            subject_id,
            plate_name,
            amount
        FROM
            type_pool
    </select>
    <!--查询类型-->
    <select id="queryType" resultType="TypePool">
        SELECT
            plate_id,
            subject_id,
            plate_name,
            amount
        FROM
            type_pool
        LIMIT #{page},#{limit}
    </select>
    <!--根据科目id查询-->
    <select id="queryTypeBySubjectId" resultType="TypePool">
        SELECT
            plate_id,
            subject_id,
            plate_name
        FROM
            type_pool
        WHERE
            subject_id=#{subId}
    </select>
</mapper>