<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace(命名空间)：映射文件的唯一标识 -->
<mapper namespace="com.enablue.mapper.VariablePoolMapper">
    <!--添加-->
    <insert id="addVariablePool" parameterType="VariablePool">
        INSERT INTO variable_pool  (
        variable_id,
        template_id,
        variable_content,
        gmt_create,
        gmt_modified
        )
        VALUES
            (
                #{variableId},
                #{templateId},
                #{variableContent},
                #{gmtModified},
                #{gmtModified}
            );
    </insert>
<!--删除变量 王成-->
    <delete id="deleteByTemplateId">
        DELETE
        FROM
            variable_pool
        WHERE
            template_id =#{templateId}

    </delete>
    <select id="getVariablePoolList" parameterType="Integer" resultType="com.enablue.pojo.VariablePool">
        select variable_id,template_id,variable_content,gmt_create,gmt_modified
        from variable_pool
        <where>
            <if test="templateId != null">
                template_id = #{templateId}
            </if>
        </where>
    </select>
</mapper>